<a href="https://colab.research.google.com/github/deepthikm27/python-programming/blob/main/3_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Explore different function calls associated with each data types (Min 10 for each dat types) other than covered in class. 
Create code snippet for each operation on data type.**

**1. String**

**(i) format**

In [ ]:
print("my name is {0} and I like {1}".format("deepthi","python"))

t=["MSIS","Manipal"]
print("Manipal School of Information Science ({0}),{1}".format(*t))

my name is deepthi and I like python
Manipal School of Information Science (MSIS),Manipal

**(ii) split**

In [ ]:
txt = "lab 3 assignment"
x = txt.split()
print(x)

s = "mangalore is nearer to manipal than bangalore"
str_list = s.split(sep=' ',maxsplit=3)
print(str_list)

str_l = s.rsplit(sep=' ', maxsplit=3)
print(str_l)

['lab', '3', 'assignment']
['mangalore', 'is', 'nearer', 'to manipal than bangalore']
['mangalore is nearer to', 'manipal', 'than', 'bangalore']

**(iii) join**

In [ ]:
stringg = "there are seven days in a week"
print(" ".join(stringg))

print(",".join(["sharks","crustaceans","planktons"]))

stt = ["apple","orange","banana"]
print(" and ".join(stt))

t h e r e   a r e   s e v e n   d a y s   i n   a   w e e k
sharks,crustaceans,planktons
apple and orange and banana

**(iv) replace**

In [ ]:
s1 = "dodo"
s1_new = s1.replace('d','c')            #replaces each matching occurrence of the old character/text in the string with the new character/text
print(s1_new)

print(str.replace('abca', 'a', 'A'))

coco
AbcA

**(v)translate**

In [ ]:
dict1 = {83: 80}
txt = "Hello Sam!"

print(txt.translate(dict1))         #returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

s = 'ABCDBCA'
translation = s.maketrans('ABCD', 'abcd')
print(s.translate(translation))

Hello Pam!
abcdbca

**(vi) _contains_**

In [ ]:
input_str1 = input('Please enter first input string\n')

input_str2 = input('Please enter second input string\n')

print('First Input String Contains Second String? ', input_str1.__contains__(input_str2))

Please enter first input string
deepthi
Please enter second input string
thi
First Input String Contains Second String?  True

**(vii)enumerate**

In [ ]:
my_str = "Guru99 "
for i in enumerate(my_str):           #shows the index and value for each character of the string
  print(i)

(0, 'G')
(1, 'u')
(2, 'r')
(3, 'u')
(4, '9')
(5, '9')
(6, ' ')

**(viii)splitlines**

In [ ]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()      #Split a string into a list where each line is a list item

print(x)

['Thank you for the music', 'Welcome to the jungle']

**(ix)isalnum**

In [ ]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

**(x)casefold**

In [ ]:
#returns a string where all the characters are lower case.
s = "DEEPTHI"
print(" ",s.casefold())

  deepthi

**2. List**

**(i) sort**

In [ ]:
#sorts the list in ascending order
marks = [35,90,100,76,84]
marks.sort()
print(marks)

cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)

[35, 76, 84, 90, 100]
['BMW', 'Ford', 'Volvo']

**(ii)append**

In [ ]:
#add certain content you enter to the end of the elements that is selected
months = ['January', 'February', 'March']
months.append('April')
print(months)

a = ['python','java']
b = ['C','C++']
(a.append(b))
print(a)

['January', 'February', 'March', 'April']
['python', 'java', ['C', 'C++']]

**(iii)extend**

In [ ]:
#adds the specified list elements (or any iterable) to the end of the current list
GoT = ['Daenerys', 'Jon', 'Tyrion']
Friends = ['Rachel', 'Monica', 'Phoebe']
GoT.extend(Friends)
print(GoT)


#difference between append and extend
#append appends object at the end
x = [1, 2, 3]
x.append([4, 5])
print(x)
#extend Extends list by appending elements from the iterable.
x = [1, 2, 3]
x.extend([4, 5])
print(x)

['Daenerys', 'Jon', 'Tyrion', 'Rachel', 'Monica', 'Phoebe']
[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

**(iv)max**

In [ ]:
#return the highest value of the inputted values

list1 = ['xyz', 'zara', 'abc']
list2 = [456, 700, 200]
print(max(list1))
print(max(list2))

zara
700

**(v)min**

In [ ]:
#return the lowest value of the inputted values

print(min(list1))
print(min(list2))

abc
200

**(vi) list**

In [ ]:
#takes an iterable construct and turns it into a list
print(list())

# tuple of stock prices
stocks = ('238.11', '237.81', '238.91')
print(list(stocks))

[]
['238.11', '237.81', '238.91']

**(vii)index**

In [ ]:
#returns the first appearance of the specified value.
months = ['January', 'February', 'March']
prices = [238.11, 237.81, 238.91]
months.index('February')

1

**(viii) clear**

In [ ]:
#removes all items from the list

list = [{1, 2}, ('a'), ['1.1', '2.2']]

# clearing the list
list.clear()


print('List:', list)

List: []

**(ix)reverse**

In [ ]:
prime_numbers = [2, 3, 5, 7]
# reverse the order of list elements
prime_numbers.reverse()
print('Reversed List:', prime_numbers)


systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)
	
# Syntax: reversed_list = systems[start:stop:step] 
reversed_list = systems[::-1]
# updated list
print('Updated List:', reversed_list)

Reversed List: [7, 5, 3, 2]
Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

**(x)count**

In [ ]:
a = ['a','a','e','u','a']
a.count('a')

3

**3. Tuples**

**(i) len**

In [ ]:
my_tuple = (1,2,3,[6,5])
print(len(my_tuple))

4

**(ii) max**

In [ ]:
a = (970,350,225,789)
print(max(a))

s = ("banana","orange","apple","Orange")      #o has higher ACSII value among o and O
print(max(s))

970
orange

**(iii) min**

In [ ]:
print(min(a))
print(min(s))

225
Orange

**(iv) sum**

In [ ]:
my_tupl = (55,89,77,46)

sum(my_tupl)

267

**(v) any**

In [ ]:
#returns true if any of the item in tuple is true else it returns false
# all elements are true
t1 = (1, "BeginnersBook", 22)
print(any(t1))

# all elements are false
t2 = (0, False, 0)
print(any(t2))

# one element is true others are false
t3 = (1, 0, False)
print(any(t3))

# one element is false others are true
t4 = (False, 1, 2, 3)
print(any(t4))

# empty tuple
t5 = ()
print(any(t5))

True
False
True
True
False

**(vi) all**

In [ ]:
#returns true if all of the item in tuple is true else it returns false
t1 = (1, "BeginnersBook", 22)
print(all(t1))

# all elements are false
t2 = (0, False, 0)
print(all(t2))

# one element is true others are false
t3 = (1, 0, False)
print(all(t3))

# one element is false others are true
t4 = (False, 1, 2, 3)
print(all(t4))

# empty tuple
t5 = ()
print(all(t5))

True
False
False
False
True

**(vii) sorted**

In [ ]:
a = (970,350,225,789)
sorted(a)

[225, 350, 789, 970]

**(viii)tuple**

In [ ]:
a_list = [1,2,3,4,5]
b_tuple = tuple(a_list)
print(type(b_tuple))

<class 'tuple'>

**(ix)index**

In [ ]:
t = ("betty","bought","some","bitter","butter")
t.index("bitter")

3

**(x)count**

In [ ]:
t = ("betty","bought","some","bitter","butter","bought")
t.count("bought")

2

**4. dict**

**(i) clear**

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

**(ii) copy**

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**(iii) fromkeys**

In [ ]:
#returns a dictionary with the specified keys and the specified value.
x = ('apple', 'banana', 'orange')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'apple': 0, 'banana': 0, 'orange': 0}

**(iv)get**

In [ ]:
#returns the value of the item with the specified key
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

**(v)copy**

In [ ]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}	
studentX=Boys.copy()
studentY=Girls.copy()
print(studentX)
print(studentY)

{'Tim': 18, 'Charlie': 12, 'Robert': 25}
{'Tiffany': 22}

**(vi) update**

In [ ]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
Dict.update({"Sarah":9})
print(Dict)

{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25, 'Sarah': 9}

**(vii)setdefault**

In [ ]:
Dictionary1 = { 'A': 'Good', 'B': 'better', 'C': 'best'}
 
# using setdefault() method
Third_value = Dictionary1.setdefault('C')
print("Dictionary:", Dictionary1)
print("Third_value:", Third_value)

Dictionary: {'A': 'Good', 'B': 'better', 'C': 'best'}
Third_value: best

**(viii) pop**

In [ ]:
dic1 = {"Nikhila": 7, "Akshatha": 1, "Akash": 2}
print(dic1)
pop_first = dic1.pop("Nikhila")
print("after pop:",dic1)

{'Nikhila': 7, 'Akshatha': 1, 'Akash': 2}
after pop: {'Akshatha': 1, 'Akash': 2}

**(ix) keys**

In [ ]:
#returns a view object
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}
print(person.keys())

dict_keys(['name', 'age', 'salary'])

**(x)items**

In [ ]:
#returns a view object that displays a list of dictionary's (key, value) tuple pairs.
marks = {'Physics':67, 'Maths':87}

print(marks.items())

dict_items([('Physics', 67), ('Maths', 87)])