<a href="https://colab.research.google.com/github/deepthikm27/python-programming/blob/main/assignement2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # get the string from the user. convert the string into list 


#Solution

str_1 = 'hello        how        are      you?'
list_1 = str_1.split()
print(list_1)

['hello', 'how', 'are', 'you?']

In [ ]:
str_2 = 'hello,how,are,you?'
list_2= str_2.split()
print(list_2)

['hello,how,are,you?']

In [ ]:
# Find the bug 
# calculate the 2 to the power of 5 

2**5

32

In [ ]:
# Develop Arithmetic calculator based on user choice the program should perform arithmetic operation (Any 7 opeations)

#Solution

a=10
b=20
print("Addition==>", a+b)
print("Substraction==>", a-b)
print("Mutiplication==>",a*b)
print("Division==>",a/b)
print("exponential==>",a**b)
print("Modulo==>",a%b)
print("Floor division==>",a//b)

Addition==> 30
Substraction==> -10
Mutiplication==> 200
Division==> 0.5
exponential==> 100000000000000000000
Modulo==> 10
Floor division==> 0

In [ ]:
# Write a program to prompt the user for hours and rate per hour to compute gross pay.
# Take into account that the university gives the employee 2.5 times the hourly rate for hours worked above 50 hours.
hrs = input("Enter Hours:")
h = float(hrs)
xx = input("Enter the Rate:")
x = float(xx)
if h <= 50:
 	print( h  * x)
elif h > 50:
	print(50* x + (h-50)*2.5*x)

Enter Hours:5
Enter the Rate:2.5
12.5

In [ ]:
# Create a list called hobbies. Create a for loop that prompts the user for a hobby 3 times, then appends each one to hobbies in the list
# Hint 1 : List 
# Hint 2 : append 

my_list = []

for i in range(3):
  hobby = input("enter your hobby: ")
  my_list.append(hobby)
print(my_list)

enter your hobby: singing
enter your hobby: dancing
enter your hobby: reading novels
['singing', 'dancing', 'reading novels']

In [ ]:
# Write a Python program to check whether the given integer is a multiple of both 5 and 7 . 
x = int(input("enter a number: "))
if((x % 5 == 0) and (x % 7 == 0)):
  print("the given integer is a multiple of both 5 and 7")
else:
  print("not a multiple of both 5 and 7")

enter a number: 35
the given integer is a multiple of both 5 and 7

In [ ]:
# Find the error and correct the mistakes 
# the main idea of this code is to print the data from the dictionary (Data structure)

phone_book = {
'John' : [ '8592970000', 'john@xyzmail.com', 'Humpi' ],
'Bob': [ '7994880000', 'bob@xyzmail.com','Manipal' ],
'Tom' : [ '9749552647' , 'tom@xyzmail.com','Udupi' ] }

for k,v in phone_book.items():
  print(k, ":", v)

John : ['8592970000', 'john@xyzmail.com', 'Humpi']
Bob : ['7994880000', 'bob@xyzmail.com', 'Manipal']
Tom : ['9749552647', 'tom@xyzmail.com', 'Udupi']

In [ ]:
# Find the bug 
# print all the numbers between 2 and 8 

list = [x for x in range(10) if (x < 8) and (x > 2) ]
print(list)

[3, 4, 5, 6, 7]

In [ ]:
# find the bug
# Suppose you are trying to compute a signal-to-noise ratio in
# decibels. The formula is SNRdb = 10log10(Psignal /Pnoise).

import math
signal_power = 9
noise_power = 10
ratio = signal_power / noise_power
print("ratio: ",ratio)
decibels = 10 * math.log10(ratio)
print("decibels: ",decibels)

ratio:  0.9
decibels:  -0.4575749056067512

In [ ]:
# Check whether the number is present in the list or not 
a = int(input("enter a number: "))
List = [1, 2, 3, 4, 5]

# in is used to check whether the member is present or not 
if a in List :
  print("present") 
else: 
  print("not present in the list")

enter a number: 1
present

In [ ]:
# check whether the number is same or not 
# use of identity opeartor is 
# find the bug 

a=10
b=20 
if ( a is not b ):
  print ("a and b do not have same identity")
else:
  print ("a and b have same identity")

a and b do not have same identity

In [ ]:
# Find the bug 

# Prints out 0,1,2,3,4 using while loop
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
      break

0
1
2
3
4

In [ ]:
# Prints out only even numbers - 2,4,6,8,10 using for loop and continue
# find the bug 

for x in range(10):
    # Check if x is even
    if  x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [ ]:
# Printing even and odd numbers using for loop and ternary operator
# find the bug 

for i in range(10):
    print(str(x) + " is even number") if(x % 2 == 0) else print(str(i) + " is odd number")

0 is odd number
1 is odd number
2 is odd number
3 is odd number
4 is odd number
5 is odd number
6 is odd number
7 is odd number
8 is odd number
9 is odd number

In [ ]:
# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 5 and 4570 (both included).
print(*[i for i in range(5, 4570) if i%7 and not(i%5)])

5 10 15 20 25 30 40 45 50 55 60 65 75 80 85 90 95 100 110 115 120 125 130 135 145 150 155 160 165 170 180 185 190 195 200 205 215 220 225 230 235 240 250 255 260 265 270 275 285 290 295 300 305 310 320 325 330 335 340 345 355 360 365 370 375 380 390 395 400 405 410 415 425 430 435 440 445 450 460 465 470 475 480 485 495 500 505 510 515 520 530 535 540 545 550 555 565 570 575 580 585 590 600 605 610 615 620 625 635 640 645 650 655 660 670 675 680 685 690 695 705 710 715 720 725 730 740 745 750 755 760 765 775 780 785 790 795 800 810 815 820 825 830 835 845 850 855 860 865 870 880 885 890 895 900 905 915 920 925 930 935 940 950 955 960 965 970 975 985 990 995 1000 1005 1010 1020 1025 1030 1035 1040 1045 1055 1060 1065 1070 1075 1080 1090 1095 1100 1105 1110 1115 1125 1130 1135 1140 1145 1150 1160 1165 1170 1175 1180 1185 1195 1200 1205 1210 1215 1220 1230 1235 1240 1245 1250 1255 1265 1270 1275 1280 1285 1290 1300 1305 1310 1315 1320 1325 1335 1340 1345 1350 1355 1360 1370 1375 1380 1385 1390 1395 1405 1410 1415 1420 1425 1430 1440 1445 1450 1455 1460 1465 1475 1480 1485 1490 1495 1500 1510 1515 1520 1525 1530 1535 1545 1550 1555 1560 1565 1570 1580 1585 1590 1595 1600 1605 1615 1620 1625 1630 1635 1640 1650 1655 1660 1665 1670 1675 1685 1690 1695 1700 1705 1710 1720 1725 1730 1735 1740 1745 1755 1760 1765 1770 1775 1780 1790 1795 1800 1805 1810 1815 1825 1830 1835 1840 1845 1850 1860 1865 1870 1875 1880 1885 1895 1900 1905 1910 1915 1920 1930 1935 1940 1945 1950 1955 1965 1970 1975 1980 1985 1990 2000 2005 2010 2015 2020 2025 2035 2040 2045 2050 2055 2060 2070 2075 2080 2085 2090 2095 2105 2110 2115 2120 2125 2130 2140 2145 2150 2155 2160 2165 2175 2180 2185 2190 2195 2200 2210 2215 2220 2225 2230 2235 2245 2250 2255 2260 2265 2270 2280 2285 2290 2295 2300 2305 2315 2320 2325 2330 2335 2340 2350 2355 2360 2365 2370 2375 2385 2390 2395 2400 2405 2410 2420 2425 2430 2435 2440 2445 2455 2460 2465 2470 2475 2480 2490 2495 2500 2505 2510 2515 2525 2530 2535 2540 2545 2550 2560 2565 2570 2575 2580 2585 2595 2600 2605 2610 2615 2620 2630 2635 2640 2645 2650 2655 2665 2670 2675 2680 2685 2690 2700 2705 2710 2715 2720 2725 2735 2740 2745 2750 2755 2760 2770 2775 2780 2785 2790 2795 2805 2810 2815 2820 2825 2830 2840 2845 2850 2855 2860 2865 2875 2880 2885 2890 2895 2900 2910 2915 2920 2925 2930 2935 2945 2950 2955 2960 2965 2970 2980 2985 2990 2995 3000 3005 3015 3020 3025 3030 3035 3040 3050 3055 3060 3065 3070 3075 3085 3090 3095 3100 3105 3110 3120 3125 3130 3135 3140 3145 3155 3160 3165 3170 3175 3180 3190 3195 3200 3205 3210 3215 3225 3230 3235 3240 3245 3250 3260 3265 3270 3275 3280 3285 3295 3300 3305 3310 3315 3320 3330 3335 3340 3345 3350 3355 3365 3370 3375 3380 3385 3390 3400 3405 3410 3415 3420 3425 3435 3440 3445 3450 3455 3460 3470 3475 3480 3485 3490 3495 3505 3510 3515 3520 3525 3530 3540 3545 3550 3555 3560 3565 3575 3580 3585 3590 3595 3600 3610 3615 3620 3625 3630 3635 3645 3650 3655 3660 3665 3670 3680 3685 3690 3695 3700 3705 3715 3720 3725 3730 3735 3740 3750 3755 3760 3765 3770 3775 3785 3790 3795 3800 3805 3810 3820 3825 3830 3835 3840 3845 3855 3860 3865 3870 3875 3880 3890 3895 3900 3905 3910 3915 3925 3930 3935 3940 3945 3950 3960 3965 3970 3975 3980 3985 3995 4000 4005 4010 4015 4020 4030 4035 4040 4045 4050 4055 4065 4070 4075 4080 4085 4090 4100 4105 4110 4115 4120 4125 4135 4140 4145 4150 4155 4160 4170 4175 4180 4185 4190 4195 4205 4210 4215 4220 4225 4230 4240 4245 4250 4255 4260 4265 4275 4280 4285 4290 4295 4300 4310 4315 4320 4325 4330 4335 4345 4350 4355 4360 4365 4370 4380 4385 4390 4395 4400 4405 4415 4420 4425 4430 4435 4440 4450 4455 4460 4465 4470 4475 4485 4490 4495 4500 4505 4510 4520 4525 4530 4535 4540 4545 4555 4560 4565

In [ ]:
# Write a program which accepts input to convert the temperature from one unit to another based on user choice 
# fahrenheit to celsius or celsius to fahrenheit until they say "Quit".

# Hint: infinite loop

print("Please select operation -\n" \
        "1. fahrenheit to celsius\n" \
        "2. celsius to fahrenheit\n" \
        "3. quit \n" )
select = int(input("select the opertion :1 ,2 ,3\n"))
if select == 1:
 f= int(input("Enter the fahrenheit value: "))
 cel= (f -32.0)*(5.0/9.0)
 print(cel)
elif select == 2:
  c = int(input("Enter the celsius value: "))
  feh = (c + 32.0)*(9.0/5.0)
  print(fah)
else :
  print("quit")

Please select operation -
1. fahrenheit to celsius
2. celsius to fahrenheit
3. quit

select the opertion :1 ,2 ,3
1
Enter the fahrenheit value: 77
25.0