<a href="https://colab.research.google.com/github/deepthikm27/python-programming/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
input("enter your name: ")

enter your name: deepthi

'deepthi'

In [ ]:
print("hello world")

hello world

In [ ]:
var1 = 30
print(var1)

30

In [ ]:
a = 25
type(a)

int

In [ ]:
a = 10
b = 36.9
c = "python"
d = 4>2

print(a)
print(b)
print(c)
print(d)

10
36.9
python
True

In [ ]:
print(bool())

False

In [ ]:
print(bool("hello"))
print(bool(30))

True
True

In [ ]:
a = "deepthi"
b = ""    
c = 0   
d = ["mangalore","manipal","udupi"] #returns true for lists
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))

True
False
False
True

In [ ]:
x = 350
y = 20.34
z = x + y
print("x:",x,type(x))       #implicit type conversion
print("y:",y,type(y))
print("x + y: ",z)
print(type(z))

x: 350 <class 'int'>
y: 20.34 <class 'float'>
x + y:  370.34
<class 'float'>

In [ ]:
num1 = 250
str1 = "300"
print("num1: ",num1,type(num1))                 
print("str1: ",str1,type(str1))
str1 = int(str1)                #explicit type conversion
print("after type conversion: ",type(str1))

num1:  250 <class 'int'>
str1:  300 <class 'str'>
after type conversion:  <class 'int'>

In [ ]:
import math
pi = 3.14
a = 4
print(pi * pi)
print(pow(pi,4))
print(pow(pi,0))
print(int(pow(pi,0)))
print(math.sqrt(pi))
print("square root of 4 square: ",math.sqrt(a*a))

9.8596
97.21171216000002
1.0
1
1.772004514666935
square root of 4 square:  4.0

In [ ]:
a = 77
print(a)
b == 4

77

False

In [ ]:
fast_track_c = 57
fast_track_python = 40
if fast_track_c > fast_track_python:
  print("fast track c has more problems in assignment than in fast track python program")
else:
  print("enjoy!")

fast track c has more problems in assignment than in fast track python program

In [ ]:
a = "msis"
for i in a:
  print(i)

m
s
i
s

In [ ]:
a = "A"
print(ord(a))
print(a.isupper())
print(a.islower())
print(a.lower())

65
True
False
a

**ASSIGNEMENT**

In [ ]:
# print your name 
print("Deepthi K")

# print your hobbies 
print("singing")

# print your registration number
print("211058022")

Deepthi K
singing
211058022

In [ ]:
# how to get more information about print functions 
help(print)

# how to get more infromation about math module 
help(math)

# how to get more information about symbols 
help()

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)



Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


Here is a list of the punctuation symbols which Python assigns special meaning
to. Enter any symbol to get more help.

!=                  +                   <=                  __
"                   +=                  <>                  `
"""                 ,                   ==                  b"
%                   -                   >                   b'
%=                  -=                  >=                  f"
&                   .                   >>                  f'
&=                  ...                 >>=                 j
'                   /                   @                   r"
'''                 //                  J                   r'
(                   //=                 [                   u"
)                   /=                  \                   u'
*                   :                   ]                   |
**                  <                   ^                   |=
**=                 <<                  ^=                  ~
*=                  <<=                 _

Augmented assignment statements
*******************************

Augmented assignment is the combination, in a single statement, of a
binary operation and an assignment statement:

   augmented_assignment_stmt ::= augtarget augop (expression_list | yield_expression)
   augtarget                 ::= identifier | attributeref | subscription | slicing
   augop                     ::= "+=" | "-=" | "*=" | "@=" | "/=" | "//=" | "%=" | "**="
             | ">>=" | "<<=" | "&=" | "^=" | "|="

(See section Primaries for the syntax definitions of the last three
symbols.)

An augmented assignment evaluates the target (which, unlike normal
assignment statements, cannot be an unpacking) and the expression
list, performs the binary operation specific to the type of assignment
on the two operands, and assigns the result to the original target.
The target is only evaluated once.

An augmented assignment expression like "x += 1" can be rewritten as
"x = x + 1" to achieve a similar, but not exactly equal effect. In the
augmented version, "x" is only evaluated once. Also, when possible,
the actual operation is performed *in-place*, meaning that rather than
creating a new object and assigning that to the target, the old object
is modified instead.

Unlike normal assignments, augmented assignments evaluate the left-
hand side *before* evaluating the right-hand side.  For example, "a[i]
+= f(x)" first looks-up "a[i]", then it evaluates "f(x)" and performs
the addition, and lastly, it writes the result back to "a[i]".

With the exception of assigning to tuples and multiple targets in a
single statement, the assignment done by augmented assignment
statements is handled the same way as normal assignments. Similarly,
with the exception of the possible *in-place* behavior, the binary
operation performed by augmented assignment is the same as the normal
binary operations.

For targets which are attribute references, the same caveat about
class and instance attributes applies as for regular assignments.

Related help topics: NUMBERMETHODS

In [ ]:
# store your role model name in the variable "role"
role = "swami vivekananda"

# describe your role model in the variable "role_desc"
role_desc = "youth icon"

# store the numeric value in the variable "my_values"
my_values = 12
print(my_values)

In [ ]:
#If your run a 1000 Kilo Meter race in 143 minutes 30 seconds, what is your average time per mile? What is your average speed in miles per hour? 

minutes = 143.5
hours = minutes / 60

km_per_mile = 1.61
km = 1000
miles = km / km_per_mile 

pace = minutes / miles
mph = miles / hours

print('Pace in minutes per mile:', pace)
print('Average speed in mph:', mph)

Pace in minutes per mile: 0.231035
Average speed in mph: 259.7009111173632

In [ ]:
#Suppose the cover price of a python book  is  577.95, but bookstores get a 40% discount.
# Shipping costs  150 for the first copy and 50 Rupees for each additional copy. What is the total wholesale cost for 60 copies?

bookcost = 577.95
num_of_books = 60

def cost(num_of_books):
  bulkBookCost = ((bookcost * 0.60) * num_of_books)
  shippingCost = (150 + (50 * (num_of_books - 1)))
  totalCost = bulkBookCost + shippingCost
  print('The total cost is: Rs', totalCost)

cost(num_of_books)

The total cost is: Rs 23906.2

In [ ]:
# write a python code to convert Centrigrade to Fahrenheit , get the value Centrigrade from the user. 
# Sample Input:
# Enter Centrigrade:  23.5 

cel = float(input("enter centrigrade: "))
fahrenheit = (cel * 1.8) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(cel, fahrenheit))

enter centrigrade: 23.5
23.50 Celsius is: 74.30 Fahrenheit

In [ ]:
# write a python code to convert Fahrenheit to Centrigrade, get the value Fahreheit from the user. 
# Sample Input:
# Enter Fahreheit:  23.5
fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print('%.2f Fahrenheit is: %0.2f Celsius' %(fahrenheit, celsius))

Enter temperature in fahrenheit: 23.5
23.50 Fahrenheit is: -4.72 Celsius

In [ ]:
# Write a python program of your choice which uses arithmetic operations (use both operators and functions ) with meaningful application 
a = 4
b = 3

a * b

12

In [ ]:
# create a variable called my_neg to store  negative value 
my_neg = -40
print(my_neg)

# create a variable called my_float to store float value 
my_float = 35.6
print(my_float)
# create a variable called my_complex to store complex value 
my_complex = complex(2,3)
print(my_complex)
# Note: there a various method to create complex numbers 

# perform mathematical operations on complex numbers 
a = (complex(2,3)) + (complex(1,2))
print("addition: ",a)

b = (complex(2,3)) - (complex(1,2))
print("subtraction: ",b)

c = (complex(2,3)) * (complex(1,2))
print("multiplication: ",c)

d = (complex(2,3)) / (complex(1,2))
print("division: ",d)

-40
35.6
(2+3j)
addition:  (3+5j)
subtraction:  (1+1j)
multiplication:  (-4+7j)
division:  (1.6-0.2j)

In [ ]:
# create a variable called break and assign it a value of 15. what is the response and find the reason behind the behaviour.  
break = 15

SyntaxError: ignored

In [ ]:
result ="hello world"
print(result[0])

h

In [ ]:
# String operations 
#Write a program to get the name of the guest , then greet the user using their name as part of greeting 
# Sample Input 
# Enter the Guest Name: Writer Sudha Murthy 
# Sample Output 
# I am extremly hounor to welcome Sudha Murthy to ....... 

name = input("enter your name ")
print("I am extremely honored to welcome "+name+" to .....")

enter your name deepthi
I am extremely honored to welcome deepthi to .....

In [ ]:
quotes  = "Don't judge each day by the harvest you reap but by the seeds that you plant."

# count the total number of characters in the variable quotes 
print(len(quotes))

# convert the smaller case to upper case, upper case to smaller case 
print(quotes.swapcase())
# check whether the numeric value is present or not 
print(quotes.isnumeric())
# Check whether the word "harvest" present in the string or not 
if 'harvest' in quotes:
    print('present!')
# replace the (.) with (!) 
text = "hello world."
x = text.replace(".","!")
print(x)

77
dON'T JUDGE EACH DAY BY THE HARVEST YOU REAP BUT BY THE SEEDS THAT YOU PLANT.
False
present!
hello world!

In [ ]:
# Explore any 5 string build-in functions which is not discussed in the class
# provide with suitable examples 

#len
print(len("namaste manipal"))

#find
string = "betty bought some bitter butter"
sub = "butter"
print(string.find(sub))

#startswith
sentence = "Binary search is a classic recursive algorithm"
print(sentence.startswith("Binary"))
print(sentence.startswith("binary"))

#strip
string = "!....Article 370....#!"
string.strip(".#!")

#zfill
print("80".zfill(3))
print("360".zfill(5))
print("002".zfill(5))

15
25
True
False
080
00360
00002

In [ ]:
num_int =55
num_str ="34"
num_str = int(num_str)
total = num_int + num_str
print (total)
print (type(num_int))
print (type(num_str))

89
<class 'int'>
<class 'int'>

In [ ]:
#Find potential sources of runtime errors in this code snippet:
import math
dividend = float(input("Please enter the dividend: "))
divisor = float(input("Please enter the divisor: "))
quotient = dividend / divisor
quotient_rounded = math.round(quotient)

Please enter the dividend: 24
Please enter the divisor: 0

ZeroDivisionError: ignored

In [ ]:
# print the quotes : Don't judge each day by the harvest you reap but by the seeds that you plant.
# Example for syntax Error 

print("Don't judge each day by the harvest you reap but by the seeds that you plant.")

Don't judge each day by the harvest you reap but by the seeds that you plant.

In [ ]:
# identify the error, label the type of error and correct the error 
clas = "plant"          #shouldn't use class keyword as a variable name
crop_name ="Brinjal"    #variable name cannot be separated by whitespace
yeid = "20kg"           #units cannot be used as int. 
# print name of the class, crop name and yeid 

print("name of class",clas)
print("name of crop name",crop_name)
print("yeid",yeid)

x=10
print(x)
# print the value of x

name of class plant
name of crop name Brinjal
yeid 20kg
10

In [ ]:
# Find the errors in the coding and correct 
# formula to convert centrigrade to fahr


C = 21                  #indentation error
F = 9/5*C + 32
print(F)
C = 21.0 
F = (9/5)*C + 32
print(F)

69.80000000000001
69.80000000000001

In [ ]:
#Explain why the code is not working 
a = 10 
b = 5 
c= a + b            #before assigning values we cannot perform operations

print(c)

15

In [ ]:
print("Hello, World!")
print("5")                    #paranthesis missed
print("All finished!")

Hello, World!
5
All finished!

In [ ]:
# Print the statement, Kindly help me!
print("Kindly help me!")

Kindly help me!

In [ ]:
# Find the bugs in the below code, correct the mistakes and comment suggestions 
from math import pi
h = 5.0 # height
B = 2.0 # base
r = 1.5 #radius                                                           #radius not commented
area_parallelogram = h*b
print('The area of the parallelogram is %.3f' %(area_parallelogram))       #missing paranthesis and incorrect syntax while using output format and spelling mistake in parallellogram
area_square = b**2
print('The area of the square is %g' %(area_square))                      #missing paranthesis and incorrect syntax while using output format
area_circle = pi*r**2                                                     #r written as comment
print('The area of the circle is %.3f' %(area_circle))                    #missing paranthesis and incorrect syntax while using output format
volume_cone = 1.0/3*pi*r**2*h
print('The volume of the cone is %.3f' %(volume_cone))                    #missing paranthesis and incorrect syntax while using output format

The area of the parallelogram is 25.000
The area of the square is 25
The area of the circle is 7.069
The volume of the cone is 11.781

In [ ]:
# This code shows the use math module 
# Run time error and Logical Error 
import math
from math import sin
r= sin(c)

x=2.4
y = 2.5 + 3j
y_new = abs(y)
print(y_new)

print(math.sin(x))
print(math.sin(y))

NameError: ignored

In [ ]:
print ("Don't eat those cookies before dinner.")

Don't eat those cookies before dinner.

In [ ]:
print ('Hello \t \t \t world' )

Hello 	 	 	 world

In [ ]:
print ("I like Python Programming!")

I like Python Programming!

In [ ]:
print ("The first program in any programming language is 'Hello World'.")

The first program in any programming language is 'Hello World'.

In [ ]:
# print the value of the course 
course = "Programming with Python"
print ("course")

course

In [ ]:
print ("cropname")

cropname

In [ ]:
# find the bug
1/2           #space at the beginning(error)

0.5

In [ ]:
profit = 1000
#increment profit by 1
profit += 1
print(profit)

1001

In [ ]:
import math
print(math.log(10))

2.302585092994046

In [ ]:
print(math.sin(2))

0.9092974268256817

In [ ]:
num_int =55
num_str ="34"
total = num_int +int(num_str)
print (total)
print (type(num_int))
print (type(num_str))

89
<class 'int'>
<class 'str'>

In [ ]:
# Trying to print the multiplication entry, but it throws error 
a = 5*6
print(a)

30

In [ ]:
# Trying to find the round of 10.2 
round(10.2)

10

In [ ]:
# Trying to calculate 2 to the power of 5 

pow(2,5)

32

In [ ]:
#Trying to multiply 5 
5*5

25

In [ ]:
# Trying to print the text message Hello 

print("Hello")

Hello

In [ ]:
#store the size of the land in the variable size  in square feet 
size = 200 
#store the income as in
#print the value of  both size and income 
income = 9000
print(size)
print(income)
cropName="Drumstick"
year_2021 = 'Drumstick'

200
9000